In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [3]:
df = df.drop("id", axis = 1)

In [7]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

### Review data

In [6]:
df.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [22]:
df.gender.value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [23]:
df.hypertension.value_counts()

0    4612
1     498
Name: hypertension, dtype: int64

In [24]:
df.heart_disease.value_counts()

0    4834
1     276
Name: heart_disease, dtype: int64

In [25]:
df.ever_married.value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [26]:
df.work_type.value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [27]:
df.Residence_type.value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [28]:
df.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [29]:
df.stroke.value_counts()

0    4861
1     249
Name: stroke, dtype: int64

#### Remove people younger than 1 year

In [31]:
df = df[df['age'] > 1]

#### Remove NaN Values from bmi

In [50]:
df = df[df['bmi'].notna()].reset_index().drop('index', axis = 1)

In [53]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4862.000000,4862.000000,4862.000000,4862.000000,4862.000000,4862.000000
mean,43.274241,0.092760,0.049979,105.374130,28.995043,0.042986
std,22.275257,0.290126,0.217925,44.534054,7.815051,0.202847
min,1.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.072500,23.700000,0.000000
50%,45.000000,0.000000,0.000000,91.680000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,113.545000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [54]:
df.to_csv('healthcare-dataset-stroke-data-cleaned.csv')